<!DOCTYPE html>
<html lang="es">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DAFF</title>
    <link rel="stylesheet" href="../../Static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="shortcut icon" href="../Img/logo-_f_.ico" type="image/x-icon">
    
    <!-- FontAwesome -->
    
    <script src="https://kit.fontawesome.com/f7fb471b65.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Encabezado -->
    <header class="header">
        
        <!-- logo -->
        <div class="logo">
            
            <a href="index.html"><img src="../../Static/Img/DAFF Logo.png" alt="" width="50px" height="50px"></a>             
                
        </div>

        <!-- Cambia el título  -->
        <h1 class="Slogan">DAFF, sección productos</h1>
                        
        <!-- Menu      -->
        <div id="dropdown">
                
            <ul class="dropdown-menu">
                <li><i class="fa fa-bars fa-2x fa-lg" style="color:#FFFFFF;"></i>
                    <ul>
                        <li><a href="../../index.html">Inicio</a></li>
                        <li><a href="../../Static/templates/register.html">Registrarse</a></li>
                        <li><a href="../../Static/templates/Contacto.html">Contacto</a></li>
                    </ul>
                </li>
            </ul>    
        </div>     
    </header>  
    
    <nav id="barra-nav">
        
        <!-- Ir a Index, conservo y reutuilizo el class -->
        <div class="Ir-a-productos">
            <a href="/index.html" class="Ir-a-productos">Volver a Inicio</a>
        </div>       

        <!-- barra de busqueda -->

        <div class="Caja-busqueda">
            <form class="cajadebusqueda">
                <input type="text" placeholder="Busqueda" class="input-busqueda">
                <button type="submit"><i class="fas fa-search" style="width: 25px; height: 25px;"></i></button>
            </form>
        </div>

        <!-- Carrito -->

        <div class="Carrito" id="Carrito">
            <button type="button"><i class="fas fa-shopping-cart" style="font-size: 35px;"></i></button>
        </div>
            
    </nav>

    
    <main class="grid-layout" id="grid-layout">
      
        <section class="Secciones" id="ofertas">

            <!-- oferta1 -->

            <div class="itemproductos" id="oferta1">
                <a href="">
                    <img src="../../Static/Img/Sueter Blanco.jpg" alt="" class="Imagen">
                    <div class="Detail">
                        <p class="oferta-1-detail-tittle">
                            Suéter blanco
                            <br>
                            $22.999
                            <div class="small">
                                6 cuotas sin interés de $3.833,33
                            </div>
                            
                        </p>
                        
                    </div>
                   
                </a>
            </div>

        <!-- oferta 2 -->

            <div class="itemproductos" id="oferta2">
                <a href="">
                    <img src="../../Static/Img/Sueter negro.jpg" alt="" class="Imagen">
                    <div class="Detail">
                        <p class="oferta-2-detail-tittle">
                        Suéter negro
                        <br>
                        $20.999
                            <div class="small">
                            6 cuotas sin interés de $3.500
                            </div>
                        </p>                        
                    </div>
                </a>
            </div>

        <!-- oferta 3 -->

            <div class="itemproductos" id="oferta3">
                <a href="">
                    <img src="../../Static/Img/Sueter verde.jpg" alt="" class="Imagen">
                    <div class="Detail">
                        <p class="oferta-3-detail-tittle">
                            Suéter verde
                            <br>
                            $20.999
                                <div class="small">
                                6 cuotas sin interés de $3.500
                                </div>
                        </p>                                               
                    </div>
                </a>
            </div>
        </section>

        <!-- productos destacados -->        

        <section class="Secciones" id="destacados">


            <!-- producto destacado 1 -->

            <div class="itemproductos" id="destacado1">
                <a href="">
                    <img src="../../Static/Img/Campera negra.jpg" alt="" class="Imagen">
                    <div class="Detail">
                        <p class="destacado1-detail">
                            Campera Negra 
                            <br>
                            $50.000
                            <div class="small">
                                6 cuotas sin interés de $8.333
                            </div>
                        </p>
                        
                    </div>
                </a>
            </div>

            <!-- producto destacado 2 -->

            <div class="itemproductos" id="destacado2">
                <a href="">
                    <img src="../../Static/Img/Hoodies unisex marron claro.jpg" alt="" class="Imagen">
                    <div class="Detail">
                        <p class="destacado1-detail">
                            Hoodies Unisex
                            <div class="color-options">
                                <div class="color-option" style="background-color: red;"></div>
                                <div class="color-option" style="background-color: blue;"></div>
                                <div class="color-option" style="background-color: green;"></div>
                                <div class="color-option" style="background-color: yellow;"></div>
                            </div>
                            $28.999
                            <div class="small">
                                6 cuotas sin interés de $4.833
                            </div>

                        </p>
                    </div>
                </a>
            </div>

            <!-- Producto destacado 3 -->

            <div class="itemproductos" id="destacado3">
                <a href="">
                    <img src="../../Static/Img/Sobretodo mujer beige.jpg" alt="" class="Imagen">
                    <div class="Detail">
                        <p class="destacado1-detail">
                            Sobretodo mujer beige
                            <br>
                            $74.999
                                <div class="small">
                                6 cuotas sin interés de $12.500
                                </div>
                        </p>
                    </div>
                </a>
            </div>
        </section>

        <!-- Catálogo -->

        <section class="Secciones" id="catalogo">        
            
            <div class="itemproductos" id="destacado3">
                <a href="">
                    <img src="../../Static/Img/sueter naranja.jpg" alt="" class="Imagen">
                    <div class="Detail">
                        <p class="destacado1-detail">
                            Suéter naranja
                            <br>
                            <del>$25.999</del> 
                            $20.999 
                                <div class="small">
                                6 cuotas sin interés de $3.500
                                </div>
                        </p>
                    </div>
                </a>
            </div>
            
            <div class="itemproductos" id="destacado3">
                <a href="">
                    <img src="../../Static/Img/Sueter celeste.jpg" alt="" class="Imagen">
                    <div class="Detail">
                        <p class="destacado1-detail">
                            Suéter celeste
                            <br>
                            <del>$25.999</del> 
                            $20.999 
                                <div class="small">
                                6 cuotas sin interés de $3.500
                                </div>
                        </p>
                    </div>
                </a>
            </div>

            <div class="itemproductos" id="destacado3">
                <a href="">
                    <img src="../../Static/Img/pineapple.jpg" alt="" class="Imagen">
                    <div class="Detail">
                        <p class="destacado1-detail">
                            Anana en oferta
                            <br>
                            <del>$1.999</del> 
                            $1.500 el Kilo 
                             
                        </p>
                    </div>
                </a>
            </div>


        </section>
              
    </main>

    <!-- Footer -->

    <footer id="footer">
        <ul>
            <li class="Opciones-footer"><a href="">Términos y condiciones</a></li>
            <li class="Opciones-footer"><a href="">Preguntas frecuentes</a></li>
            <li class="Opciones-footer"><a href="">Ayuda</a></li>
        </ul>
   </footer>

</body>
</html>