@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root{
    background-color: rgb(233, 235, 235);
    
}

a{
    text-decoration: none;
}

header{
    grid-area: header;
    display: flex;
    background: black;
    text-decoration-color: white;
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    color: white;
    border-bottom: 3px solid #ccc;
    flex-flow: row wrap;
    justify-content: space-around;
   padding-top: 20px;
   padding-bottom: 20px;
   border-radius: 10px;
}

h1{
    word-spacing: 0.2em;
}

.dropdown-menu > li {
    float:left;
    list-style: none;
}

.dropdown-menu li a {
    background-color: black;
    border-bottom: 1px solid white;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.dropdown-menu li a:hover {
    background-color:#434343;
}

.dropdown-menu li ul {
    display:none;
    position:absolute;
    min-width:140px;
    list-style: none;
}

.dropdown-menu li:hover > ul {
    display:block;
}

.dropdown-menu li ul li {
    position:relative;
}

.dropdown-menu li ul li ul {
    right:-140px;
    top:0px;
}

.container-form{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
}
.container-form h2{
    margin-bottom: 15px;
    font-size: 35px
}
.container-form p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}
.container-form a i{
    color: darkgray;
    margin-right: 10px;
}
.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}
.container-form form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}
.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: gray;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
.container-form .btn-enviar:hover{
    background: gray;
}

footer {
    display: flex;
    height: 100px;
    background: black;
    color: white;
    text-align: center;
    align-items: center; 
    justify-content: flex-start; 
    font-size: 20px;
    width: 100%; 
    border-radius: 10px;
}

/* Lista dentro del footer */
footer ul {
    list-style: none; 
    padding: 0;
}

footer ul li {
    margin: 0 10px; 
    display: inline; 
}

footer ul li a {
    color: white; 
    text-decoration: none; 
}